# tuple
tuple are not editable like list they are not mutable. so to edit a tuple data structure we must have to change it into a list

In [3]:
work_location = ('bengaluru' , 'noida' , 'chennai' , 'sirsa ') 
#let's try to edit a tuple 
#it will show us error

In [4]:
work_location.append('bhiwani')

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
#to bring changes in tuple we have to change tuple into a list 
work_location = list(work_location)

In [6]:
type(work_location)

list

In [7]:
work_location

['bengaluru', 'noida', 'chennai', 'sirsa ']

In [8]:
#now add some more cities into the list AND again make it a tuple
work_location.extend(['gurugram','hisar'])

In [9]:
work_location

['bengaluru', 'noida', 'chennai', 'sirsa ', 'gurugram', 'hisar']

In [10]:
#now change into tuple
work_location = tuple(work_location)

In [11]:
type(work_location)

tuple

In [13]:
#whereas we can get any information of tuple's data  (only of index and counting)
numbers = (11,23,43,54,33,23,11,76,67,88,76,88,)

In [15]:
numbers.index(11)

0

In [17]:
numbers.count(23)

2

# set

In [18]:
#how to make set 
roll_no = set()

In [19]:
roll_no

set()

In [20]:
roll_no.add(1)

In [21]:
roll_no

{1}

In [22]:
#set are in cursive bracket
roll_no.add(2)

In [23]:
roll_no

{1, 2}

In [24]:
#we can add data one by one in set
#if we want to remove duplicate data from list just convert it into set.
#set keeps unique values.
m = [1,2,3,4,5,4,3,2,6,7,8,6,5,6,7,8,9,]

In [25]:
#set_name = set(list_name)

In [26]:
s = set(m)

In [27]:
m

[1, 2, 3, 4, 5, 4, 3, 2, 6, 7, 8, 6, 5, 6, 7, 8, 9]

In [28]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# dictionories

# list=[]
#tuple = ()
# dictionary = {}

 list = ['rashi','sham',sheena,rohan,aalam]
 marks =[12,23,33,44,5,55]

here column name like list and marks will be treated as keys and name and marks(int) will be treated as values.
key = name, marks
value = 23,33,rashi,sham

name           salary                       #name and salary are the keys and their values a,b,c,d,12000,13000etc all are value
a               120000                       we assign to key
b              130000
c              140000
d              200000

In [30]:
my_dict = {'name':['a','v','c'], 'salary': [10,20,20]}

In [31]:
my_dict = {'key':'value1','key2': 'value2'}

In [32]:
#call value by their key
my_dict['key2']

'value2'

In [33]:
my_dict = {'roll_no':123,'marks':[10,20,30], 'subject':['english','science','socials']}

In [34]:
#if we have one value we don't need to pass it as list but if there are more than one item we need to pass it as  a list
#my_dict(subject) it will show error [subject ] will be the right syntax.
my_dict['subject']

['english', 'science', 'socials']

In [35]:
my_dict['subject'][1]

'science'

In [36]:
my_dict['marks'][0]

10

In [37]:
#change in upper case 
my_dict['subject'][0].upper()

'ENGLISH'

In [38]:
#change in lower case
my_dict['subject'][0].lower()

'english'

In [39]:
my_dict['subject'][0]

'english'

In [40]:
#update any value in dictionary 
my_dict['marks'][0] = my_dict['marks'][0] +30

In [41]:
my_dict['marks'][0]

40

In [43]:
#another method of editing
my_dict['marks'][2] +=2

In [44]:
my_dict['marks'][2]

32

In [45]:
my_dict['marks']

[40, 20, 32]

In [46]:
my_dict['marks'][0] -=10

In [48]:
my_dict['marks']

[30, 20, 32]

#add new key

In [49]:
my_dict['year'] = '3rd'

In [50]:
my_dict

{'roll_no': 123,
 'marks': [30, 20, 32],
 'subject': ['english', 'science', 'socials'],
 'year': '3rd'}

In [52]:
#update values
my_dict.update({'roll_no':100})

In [53]:
my_dict

{'roll_no': 100,
 'marks': [30, 20, 32],
 'subject': ['english', 'science', 'socials'],
 'year': '3rd'}

In [54]:
my_dict.keys()      #to know all the keys

dict_keys(['roll_no', 'marks', 'subject', 'year'])

In [56]:
my_dict.values()     #to know all the values

dict_values([100, [30, 20, 32], ['english', 'science', 'socials'], '3rd'])

In [57]:
#to know all keys and values

In [58]:
my_dict.items()

dict_items([('roll_no', 100), ('marks', [30, 20, 32]), ('subject', ['english', 'science', 'socials']), ('year', '3rd')])

# branching = else , if , elif

In [59]:
i = 9 

if i >10:
    print('i is greater than 10')
else:
    print('its not true')

its not true

In [60]:
#another method
print('it is less than 10') if i <10 else print('thats not true')

it is less than 10

In [64]:
#free shipping message
item_1 = 200
item_2 = 250
if (item_1 + item_2 ) >=500:
    print('your item is eligible for free shipping')
else:
    extra = 500 - (item_1 + item_2)
    print('please add' , extra ,'rs to get free shipping')

please add 50 rs to get free shipping

we can add or change items value to change result

In [65]:
a = 200
b = 33
c = 250 
if a>b and b>c:                 #True and False = false
    print('a and b both are greater than c')
else:
    print('thats not true')

thats not true

In [66]:
a = 200
b = 33
c = 250 
if a>b or b>c:                 #True or False = true
    print('a and b both are greater than c')
else:
    print('thats not true')

a and b both are greater than c

In [71]:
#student level
marks = 30 
if marks >=60:                 #here the if in if is called nested if 
    if marks >70:
        print(marks , 'excellent')
elif marks >50 and marks <60:
    print(marks,'good')
elif marks>=35:
            print (marks, 'pass')
else:
    print (marks , 'failed')

30 failed

In [72]:
marks = 88
if marks >=60:                 #here the if in if is called nested if 
    if marks >70:
        print(marks , 'excellent')
elif marks >50 and marks <60:
    print(marks,'good')
elif marks>=35:
            print (marks, 'pass')
else:
    print (marks , 'failed')

88 excellent

In [74]:
num_1 = 20 
num_2 = 30
if num_1 == '20':        #here '20' is string so it gets wrong
    print('num_1 is great')
elif num_2 >23:
    print('num_2 is great')

num_2 is great

# RANGE:

In [75]:
print(range(10))    #this will consider the start no as 0 and stop no as 10

range(0, 10)

range(start no , stop no)

In [82]:
print(list(range(10)))     #here 10 will be executed to include 10 we must add range 11

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
roll_no = list(range(1 , 9)) #starting point = 1
                             #ending point = 9-1 = 8

In [84]:
roll_no

[1, 2, 3, 4, 5, 6, 7, 8]

step size of range
step_size = list(range(0,30,3)  #here 3 = stepsize  , diff of 3 will occur due to stepsize 3
                                  0 = starting point 
                                 30-1 = 29 = ending point

In [85]:
step_size = list(range(0,30,3))

In [86]:
step_size

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [87]:
inc_by_hund = list(range(0,1601,100))

In [88]:
inc_by_hund

[0,
 100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000,
 1100,
 1200,
 1300,
 1400,
 1500,
 1600]

# reverse range list

In [89]:
reverse = list(range(1600,-1,-100))

In [90]:
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100,
 0]

# LOOPS = loops are of two types for and while loop
             loops will go to the list and check every value and then print it

In [91]:
location = ['chennai','noida','bhiwani','sirsa','hisar']

In [92]:
for city in location:
    print(city)

chennai
noida
bhiwani
sirsa
hisar

In [94]:
salary = [12000,45000,34000,23000,65000,78000,22000]
for val in salary:     
    if val >30000:
        print(val)

45000
34000
65000
78000

#for loop will go to every value in list salary and check it if it is greater than30000 or not and then print value more than 30000

In [95]:
print ('-' * 30 )

------------------------------